* { 
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Montserrat:wght@200&display=swap');

body {
    margin: 0 ;

    /* Sets the width to be 100% of the viewport width */
    width: 100vw;
    height: 100vh;
    /* background-color: #F7F7F7; */
    color: black;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

/* ===== Sticky Menu ====== */

header {
    height: 15%;
    /* border: 2px solid seagreen; */
    width: 100%;
    background: #FFFFFF;
    margin: 0 auto;

}

.heading {
    width: 70%;
    margin: 0 auto;
}

.name {
    /* border: magenta solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-top: 1.2%;
    font-size: 30px;
    color: #1C1C1C;
}

hr {
    border: 1px thin solid black;
    
}

.menu {
    /* border: 2px solid orangered; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
    
}

#email {
    padding-right: 20%;
    margin-top: 1%;
    /* color: purple; */
}

#middleMenu {
    word-spacing: 10px;
    margin-top: 1%;
}


main {
    height: 85%;
    /* border: 2px solid purple; */
    overflow: scroll;
    background-color: #F7F7F7;
}

/* ===== Second menu ====== */

#heading{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 2vh;
    font-family: 'Metrophobic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: #D0A29D;

}

#subHeading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 10vh; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* ====== Carousel ====== */

.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 10%;
    /* border: 1px red; */
  }

  .carousel-images {
    width: 40%;
    background: #F7F7F7;
    /* padding: 10px; */
    border-radius: 10px;
    box-sizing: border-box;
    /* border: 1px black; */
    /* box-shadow: 2px 2px #f2cd99; */
  }

  .carousel-images img {
    width: 100%;
    border-radius: 10px;
    /* padding-top: 40px; */
    margin: 30px;
  }

  .carousel-button {
    align-self: center;
    background: #D0A29D;
    color: #888;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px #A8C2D7;
  }
  .carousel-button:hover {
    cursor: pointer;
    background: #A8C2D7;
    box-shadow: 1px 1px #D0A29D;
    color: black;
  }

  /* ====Blog Menu ===== */

  .thirdBlock {
    background-color: #FFFFFF;

  }

  .blogMenu {
    /* justify-content: center; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
    word-spacing: 15px;
    padding: 50px;
    margin-left: 11%;
    /* margin: 0 auto; */
  }

  .blogPosts {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    /* align-items: center; */
    margin-left: 10%;
    margin: 0 auto;
    
  }

  .box div {
      height: 250px;
      width: 250px;
      /* border: 1px black solid; */
    
  }

  .newYear {
      background-image: url("./images/treehouse.webp");
      background-size: cover;
      background-position: center;
  }

 

  .travel {
    background-image: url("./images/england.webp");
    background-size: cover;
    background-position: center;

  }

  .pika {
    background-image: url("./images/IMG-1064.jpg");
    background-size: cover;
    background-position: center;

  }

  /* ===== Form ===== */

  form {
    padding: 100px;
    background-color: #FFFFFF;
    /* margin: 0 auto; */
    width: 100%
  }

  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
      
  }

  .date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
  }

  .formStyle {
      width: 70%;
      margin: 0 auto;
  }
